MODE=DEV

HTTP_HOST=127.0.0.1
HTTP_PORT=8080

DATABASE_URL=jdbc:postgresql://localhost:7653/ready2race
DATABASE_USER=developer
DATABASE_PASSWORD=sql

SMTP_HOST=localhost
SMTP_PORT=2525
SMTP_USER=dev
SMTP_PASSWORD=dev
SMTP_STRATEGY=SMTP
SMTP_FROM_ADDRESS=dev@ready2race.local

ADMIN_EMAIL=admin
ADMIN_PASSWORD=admin

SECURITY_PEPPER=local-dev-pepper-not-secret

STATIC_FILES_PATH=/Users/thomas/Developer/privat/ready2race/backend/static
